### Consolidation of Data
In this notebook, we will be consolidating out data from the four sources we have gathered:
1. HDB Resale Data with supplementary information 
2. Macroeconomic Data for Singapore
3. Closest Mrt to HDB by Year and Walking Time
4. Singapore resident population data

#### Load libraries

In [2]:
# Wrangling libraries
import numpy as np
import pandas as pd

#### Importing datasets

In [3]:
# Import HDB data
hdbdata = pd.read_parquet('../data/processed/HDB_full_resale_info_1990_2023.parquet.gzip')

# Import economic data
econdata = pd.read_csv('../data/processed/econdata_processed.csv')

# Import MRT + Walking time data
close_walking_data = pd.read_csv("../data/processed/by_year_walking_times_hdb_closest_mrt.csv")

# Import Sg population data
pop_df = pd.read_csv("../data/processed/singapore_population_1990_2023_v2.csv", index_col=0)

#### Standardizing Date Formats for HDB + Economic Dataframes

In [4]:
# Convert Date to datetime format for economic data
econdata['Date'] = pd.to_datetime(econdata['Date'], format='%Y-%m-%d')

# Create new column in hdb dataframe to make joining easier
hdbdata['Date'] = hdbdata['sold_year_month']

#### Merging HDB + Economic Dataframes

In [7]:
# Merge dataframes on Date column
hdb_econ = pd.merge(hdbdata, econdata, on='Date', how='left')

# Drop created date column (sold_year_month is sufficient)
hdb_econ = hdb_econ.drop(columns=['Date'])

In [8]:
# Check to see if it worked
hdb_econ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 890376 entries, 0 to 890375
Data columns (total 55 columns):
 #   Column                                                                         Non-Null Count   Dtype
---  ------                                                                         --------------   -----
 0   town                                                                           890376 non-null  object
 1   flat_type                                                                      890376 non-null  object
 2   block                                                                          890376 non-null  object
 3   street_name                                                                    890376 non-null  object
 4   storey_range                                                                   890376 non-null  object
 5   floor_area_sqm                                                                 890376 non-null  float64
 6   flat_model                                                                     890376 non-null  object
 7   lease_commence_date                                                            890376 non-null  int64
 8   resale_price                                                                   890376 non-null  float64
 9   sold_year_month                                                                890376 non-null  datetime64[us]
 10  sold_year                                                                      890376 non-null  int64
 11  sold_remaining_lease                                                           890376 non-null  int64
 12  remaining_lease_in_2023                                                        890376 non-null  int64
 13  address                                                                        890376 non-null  object
 14  max_floor_lvl                                                                  890376 non-null  float64
 15  year_completed                                                                 890376 non-null  float64
 16  residential                                                                    890376 non-null  object
 17  commercial                                                                     890376 non-null  object
 18  market_hawker                                                                  890376 non-null  object
 19  miscellaneous                                                                  890376 non-null  object
 20  multistorey_carpark                                                            890376 non-null  object
 21  precinct_pavilion                                                              890376 non-null  object
 22  total_dwelling_units                                                           890376 non-null  float64
 23  1room_sold                                                                     890376 non-null  float64
 24  2room_sold                                                                     890376 non-null  float64
 25  3room_sold                                                                     890376 non-null  float64
 26  4room_sold                                                                     890376 non-null  float64
 27  5room_sold                                                                     890376 non-null  float64
 28  exec_sold                                                                      890376 non-null  float64
 29  multigen_sold                                                                  890376 non-null  float64
 30  studio_apartment_sold                                                          890376 non-null  float64
 31  Quarter                                                                        890376 non-null  object
 32  Year                                                                           890376 non-null  int64
 33  5 year bond yields                                                             890376 non-null  float64
 34  GDPm (Current Prices)                                                          890376 non-null  float64
 35  GDP per capita                                                                 890376 non-null  float64
 36  GNI per capita                                                                 890376 non-null  float64
 37  Personal Income m                                                              890376 non-null  float64
 38  Unemployment Rate                                                              890376 non-null  float64
 39  Core inflation                                                                 890376 non-null  float64
 40  Median Household Inc                                                           890376 non-null  float64
 41  Total Residential Properties                                                   890376 non-null  float64
 42    1-Room Residential Properties                                                890376 non-null  float64
 43    2-Room Residential Properties                                                890376 non-null  float64
 44    3-Room Residential Properties                                                890376 non-null  float64
 45    4-Room Residential Properties                                                890376 non-null  float64
 46    5-Room Residential Properties                                                890376 non-null  float64
 47    Executive Properties                                                         890376 non-null  float64
 48  Lime, Cement, & Fabricated Construction Materials Excl Glass & Clay Materials  890376 non-null  float64
 49  Clay Construction Materials & Refractory Construction Materials                890376 non-null  float64
 50  Stamp Duty                                                                     890376 non-null  float64
 51  LTV Value                                                                      890376 non-null  float64
 52  yearly core inflation                                                          890376 non-null  float64
 53  yearly cement inflation                                                        890376 non-null  float64
 54  yearly clay inflation                                                          890376 non-null  float64
dtypes: datetime64[us](1), float64(35), int64(5), object(14)
memory usage: 373.6+ MB

#### Merging HDB_Econ to MRT Walking Times

In [9]:
# Merge dataframes on 'address' + 'sold_year'
hdb_time_mrt_econ = hdb_econ.merge(close_walking_data, how = 'left', on = ['address', 'sold_year'])

# Check to see if it worked
hdb_time_mrt_econ.head().T

,0,1,2,3,4
town,KALLANG/WHAMPOA,KALLANG/WHAMPOA,KALLANG/WHAMPOA,KALLANG/WHAMPOA,KALLANG/WHAMPOA
flat_type,3 ROOM,3 ROOM,3 ROOM,3 ROOM,3 ROOM
block,44,20,14,46,49
street_name,BENDEMEER RD,ST. GEORGE'S RD,KG ARANG RD,OWEN RD,DORSET RD
storey_range,04 TO 06,04 TO 06,04 TO 06,01 TO 03,04 TO 06
floor_area_sqm,63.0,67.0,103.0,68.0,68.0
flat_model,Standard,New Generation,New Generation,New Generation,New Generation
lease_commence_date,1981,1984,1984,1982,1979
resale_price,31400.0,66500.0,77000.0,58000.0,52000.0
sold_year_month,1990-01-01 00:00:00,1990-01-01 00:00:00,1990-01-01 00:00:00,1990-01-01 00:00:00,1990-01-01 00:00:00
sold_year,1990,1990,1990,1990,1990
sold_remaining_lease,90,93,93,91,88
remaining_lease_in_2023,57,60,60,58,55
address,44 BENDEMEER RD,20 ST. GEORGE'S RD,14 KG ARANG RD,46 OWEN RD,49 DORSET RD
max_floor_lvl,12.0,12.0,12.0,8.0,13.0
year_completed,1970.0,1984.0,1964.0,1978.0,1978.0
residential,Y,Y,Y,Y,Y
commercial,Y,N,N,Y,N
market_hawker,N,N,N,N,N
miscellaneous,N,N,Y,N,Y
multistorey_carpark,N,N,N,N,N
precinct_pavilion,N,N,N,N,N
total_dwelling_units,228.0,149.0,131.0,88.0,142.0
1room_sold,0.0,0.0,0.0,0.0,0.0
2room_sold,0.0,0.0,0.0,0.0,0.0
3room_sold,225.0,122.0,86.0,75.0,128.0
4room_sold,3.0,22.0,44.0,13.0,12.0
5room_sold,0.0,3.0,1.0,0.0,2.0
exec_sold,0.0,2.0,0.0,0.0,0.0
multigen_sold,0.0,0.0,0.0,0.0,0.0
studio_apartment_sold,0.0,0.0,0.0,0.0,0.0
Quarter,1990 1Q,1990 1Q,1990 1Q,1990 1Q,1990 1Q
Year,1990,1990,1990,1990,1990
5 year bond yields,5.22,5.22,5.22,5.22,5.22
GDPm (Current Prices),16669.5,16669.5,16669.5,16669.5,16669.5
GDP per capita,22901.0,22901.0,22901.0,22901.0,22901.0
GNI per capita,23134.0,23134.0,23134.0,23134.0,23134.0
Personal Income m,9046.8,9046.8,9046.8,9046.8,9046.8
Unemployment Rate,1.8,1.8,1.8,1.8,1.8
Core inflation,61.59,61.59,61.59,61.59,61.59
Median Household Inc,2296.0,2296.0,2296.0,2296.0,2296.0
Total Residential Properties,623821.0,623821.0,623821.0,623821.0,623821.0
1-Room Residential Properties,28697.0,28697.0,28697.0,28697.0,28697.0
2-Room Residential Properties,42206.0,42206.0,42206.0,42206.0,42206.0
3-Room Residential Properties,252044.0,252044.0,252044.0,252044.0,252044.0
4-Room Residential Properties,202046.0,202046.0,202046.0,202046.0,202046.0
5-Room Residential Properties,71754.0,71754.0,71754.0,71754.0,71754.0
Executive Properties,21602.0,21602.0,21602.0,21602.0,21602.0
"Lime, Cement, & Fabricated Construction Materials Excl Glass & Clay Materials",99.488,99.488,99.488,99.488,99.488
Clay Construction Materials & Refractory Construction Materials,81.242,81.242,81.242,81.242,81.242
Stamp Duty,0.03,0.03,0.03,0.03,0.03
LTV Value,0.9,0.9,0.9,0.9,0.9
yearly core inflation,0.001786,0.001786,0.001786,0.001786,0.001786
yearly cement inflation,-0.005428,-0.005428,-0.005428,-0.005428,-0.005428
yearly clay inflation,-0.000923,-0.000923,-0.000923,-0.000923,-0.000923
most_closest_mrt,KALLANG,KALLANG,ALJUNIED,NOVENA,NOVENA
walking_time_mrt,1239.0,1789.0,1614.0,1057.0,976.0

#### Merging HDB_Econ_MRT_Walking to Singapore Population

In [10]:
# Merge dataframes on 'sold_year'
hdb_time_mrt_econ = hdb_time_mrt_econ.merge(pop_df, how = 'left', left_on='sold_year', right_on='key')
hdb_time_mrt_econ.head().T

# Check to see if it worked
hdb_time_mrt_econ.head().T

,0,1,2,3,4
town,KALLANG/WHAMPOA,KALLANG/WHAMPOA,KALLANG/WHAMPOA,KALLANG/WHAMPOA,KALLANG/WHAMPOA
flat_type,3 ROOM,3 ROOM,3 ROOM,3 ROOM,3 ROOM
block,44,20,14,46,49
street_name,BENDEMEER RD,ST. GEORGE'S RD,KG ARANG RD,OWEN RD,DORSET RD
storey_range,04 TO 06,04 TO 06,04 TO 06,01 TO 03,04 TO 06
...,...,...,...,...,...
SingaporePermanentResident,112132,112132,112132,112132,112132
ResidentPopulation_Growth_Rate,2.150542,2.150542,2.150542,2.150542,2.150542
Non_ResidentPopulation_Growth_Rate,9.353796,9.353796,9.353796,9.353796,9.353796
SingaporeCitizen_Growth_Rate,1.558427,1.558427,1.558427,1.558427,1.558427
SingaporePR_Growth_Rate,16.005244,16.005244,16.005244,16.005244,16.005244

#### Dropping Columns

Since the dataset is currently fairly wide, we will be dropping columns which we think will not add much information to the prediction of HDB flat prices.

In [11]:
# List of columns to drop
drop_cols = ['1room_sold','2room_sold','3room_sold','4room_sold','5room_sold','exec_sold','multigen_sold',
             'studio_apartment_sold','  1-Room Residential Properties','  2-Room Residential Properties',
             '  3-Room Residential Properties','  4-Room Residential Properties','  5-Room Residential Properties',
             '  Executive Properties', 'Quarter', 'Year', 'key',
             'remaining_lease_in_2023', 'year_completed', 'residential', 'commercial', 'market_hawker', 'miscellaneous',
             'multistorey_carpark', 'precinct_pavilion', 'total_dwelling_units', 'Total Residential Properties',
             'Stamp Duty', 'LTV Value', 'yearly core inflation', 'yearly cement inflation', 'yearly clay inflation', 'GNI per capita',
             'TotalPopulation', 'SingaporeCitizenPopulation', 'Non_ResidentPopulation', 'SingaporePermanentResident',
             'Non_ResidentPopulation_Growth_Rate', 'SingaporeCitizen_Growth_Rate', 'SingaporePR_Growth_Rate']

# Drop the columns
hdb_time_mrt_econ = hdb_time_mrt_econ.drop(columns=drop_cols)

In [12]:
# Checking column data types
hdb_time_mrt_econ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 890376 entries, 0 to 890375
Data columns (total 27 columns):
 #   Column                                                                         Non-Null Count   Dtype
---  ------                                                                         --------------   -----
 0   town                                                                           890376 non-null  object
 1   flat_type                                                                      890376 non-null  object
 2   block                                                                          890376 non-null  object
 3   street_name                                                                    890376 non-null  object
 4   storey_range                                                                   890376 non-null  object
 5   floor_area_sqm                                                                 890376 non-null  float64
 6   flat_model                                                                     890376 non-null  object
 7   lease_commence_date                                                            890376 non-null  int64
 8   resale_price                                                                   890376 non-null  float64
 9   sold_year_month                                                                890376 non-null  datetime64[us]
 10  sold_year                                                                      890376 non-null  int64
 11  sold_remaining_lease                                                           890376 non-null  int64
 12  address                                                                        890376 non-null  object
 13  max_floor_lvl                                                                  890376 non-null  float64
 14  5 year bond yields                                                             890376 non-null  float64
 15  GDPm (Current Prices)                                                          890376 non-null  float64
 16  GDP per capita                                                                 890376 non-null  float64
 17  Personal Income m                                                              890376 non-null  float64
 18  Unemployment Rate                                                              890376 non-null  float64
 19  Core inflation                                                                 890376 non-null  float64
 20  Median Household Inc                                                           890376 non-null  float64
 21  Lime, Cement, & Fabricated Construction Materials Excl Glass & Clay Materials  890376 non-null  float64
 22  Clay Construction Materials & Refractory Construction Materials                890376 non-null  float64
 23  most_closest_mrt                                                               890376 non-null  object
 24  walking_time_mrt                                                               890376 non-null  float64
 25  ResidentPopulation                                                             890376 non-null  int64
 26  ResidentPopulation_Growth_Rate                                                 890376 non-null  float64
dtypes: datetime64[us](1), float64(14), int64(4), object(8)
memory usage: 183.4+ MB

#### Saving Consolidated DataSet into a Parquet File

In [13]:
# Save file
#hdb_time_mrt_econ.to_parquet('../data/processed/final_HDB_for_model.parquet.gzip', compression='gzip')